.deal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 20px 20px;
  text-align: center;
  border: 1px solid #181313;
}

.deal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.deal_car_info {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid gray;
  padding: 10px;
  /* background-color: rgb(236, 236, 236); */
  border-radius: 10px;
}

.deal_user_info {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid gray;
  /* background-color: aliceblue; */
  border-radius: 10px;
  padding: 10px;
}

.deal_car_info h3 {
  margin: 0;
  padding: 0;
  /* font-size: 1.5rem; */
  color: #333;
}

.deal_approve {
  width: 100%;
}
#deal_approve_button {
  padding: 7px 10px;
  width: 90%;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.approved {
  background-color: rgb(3, 116, 82) !important;
}

.pending {
  background-color: rgba(195, 4, 100, 0.8);
}

.cancelled {
  background-color: rgb(255, 200, 220) !important;
}

#deal_cancel_button {
  padding: 7px 10px;
  width: 90%;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: rgb(195, 4, 100);
  margin: 10px 0px;
}

#cancelled_deal_span {
  color: rgb(255, 109, 36);
  font-weight: bold;
  margin: 10px 0px;
}
