#car-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#car-picture {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#car-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.car-details h3 {
  font-size: 1.7rem;
  color: rgb(4, 82, 43);
}

#car-description-container h1 {
  margin-top: 10px;
  font-size: 3rem;
}

#car-type-span {
  font-size: 2rem;
  margin: 10px;
  color: #07c6a6;
}

.car-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 1px solid gray;
  margin: 20px;
  border-radius: 20px;
}

.car-details-card span {
  font-size: 1.5rem;
  margin: 10px;
}
.car-details-card button {
  margin: 10px;
  padding: 7px 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #008362;
  color: white;
  border: none;
  cursor: pointer;
}

#buy-now-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 60px;
  height: 100%;
  position: absolute;
  /* border: 2px solid black; */
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0.8),
    rgba(8, 77, 72, 0.8)
  );
  transition: all 0.5s linear;
  color: white;
  text-align: center;
}

#buy-now-container button {
  margin: 20px;
  padding: 7px 17px;
  width: 20vw;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #f3f9f8;
  color: black;
  font-weight: bold;
  border: none;
  text-align: center;
  cursor: pointer;
}

#buy-container-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  width: 2.1rem !important;
  border: 0px;
  background-color: transparent !important;
  color: white !important;
}

#dealer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
  justify-content: center;
  width: 90%;
}

#dealer_info .dealer_info-input {
  display: flex;
  width: 100%;
  border: 2px solid rgb(162, 160, 160);
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 1.2rem;
  border-radius: 15px;
}

#dealer_info .dealer_info-input input {
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid rgb(103, 100, 100);
  text-align: center;
}

#dealer_info .dealer_info-input label {
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
}

#dealer-heading {
  font-size: 2rem;
  margin: 10px;
}
@media (max-width: 768px) {
  .car-details-card {
    width: 90%;
  }

  #car-details-container {
    flex-direction: column;
  }

  #car-picture {
    width: 100%;
  }
  #car-picture img {
    width: 100%;
  }
}
